<div class="container">
<h3 class="text-center" id="name">Welcome To, {{name}}
  <!-- pipe -->
    <span style="float: right; font-size: 12px;" id="userName">{{'user'| addText}}</span>
</h3>
<!-- directive -->
<h5 class="text-center" id="title" appTextColor> {{title}}</h5>
</div>
<!-- form -->
<div class="mb-5">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" id="contactForm">
      <div class="container" style="width: 40%;">
        <div class="form-group">
          <label for="name">Name*</label>
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter Name">
          <div *ngIf="submitted && f['name'].errors" style="color: red;">
            <div *ngIf="f['name'].errors['required']">Name is required</div>
            <div *ngIf="f['name'].errors['minlength']">Minimum 4 characters are required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email*</label>
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter Email">
          <div *ngIf="submitted && f['email'].errors" style="color: red;">
            <div *ngIf="f['email'].errors['required']">Email is required</div>
            <div *ngIf="f['email'].errors['email']">Please enter correct mail id</div>
          </div>
        </div>
        <div class="form-group">
          <label for="text">User Id*</label>
          <input type="text" class="form-control" id="userId" formControlName="userId" placeholder="Enter User Id">
          <div *ngIf="submitted && f['userId'].errors" style="color: red;">
            <div *ngIf="f['userId'].errors['required']">UserId is required</div>
          </div>
        </div>
        <div class="mt-2 float-end">
          <button type="submit" title="Please enter all the filed to enable the button">Save</button>
        </div>
      </div>
    </form>
  </div>
  

<router-outlet></router-outlet>
